@import "./../constants/index.scss";
@import "./../mixins.scss";

.hero {
  min-height: 100vh;

  &__section {
    @include display-flex(column, center, center);
    min-height: 100vh;
    padding: 100px 16px;

    @media screen and (max-width: $deviceSizeSM) {
      padding: 50px 16px;
    }
  }

  &__title-block {
    margin-bottom: 30px;
  }

  &__divider {
    margin-bottom: 40px;
  }
}

.title-block {
  text-align: center;

  &__subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: $fontWeightMedium;
    font-size: 18px;
    color: $textDisabled;
    text-transform: uppercase;
  }

  &__title {
    font-weight: $fontWeightBlack;
    font-size: 60px;
    line-height: 66px;
    color: $primaryMain;
    text-transform: uppercase;
  }
}

.divider {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  text-align: center;

  i {
    position: relative;
    z-index: 3;
    font-size: 20px;
    color: $primaryMain;
    padding: 0 10px;
    background-color: $white;
  }

  &:before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $primaryMain;
  }
}

.slider-block {
  width: 100%;

  &__slider {
    min-height: 560px;

    @media screen and (max-width: $deviceSizeXMD) {
      min-height: 460px;
    }
  }

  &__slide {
    min-height: 560px;

    @media screen and (max-width: $deviceSizeXMD) {
      min-height: 460px;
    }
  }

  &__slider-dots {

  }
}

.slide {
  position: relative;
  display: flex;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: $primaryMain;

    @media screen and (max-width: $deviceSizeSM) {
     display: none;
    }
  }

  &__avatar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 70px;

    @media screen and (max-width: $deviceSizeXMD) {
      padding-right: 40px;
    }

    @media screen and (max-width: $deviceSizeSM) {
      padding: 0 0 40px;
      justify-content: center;
    }
  }

  &__avatar-decor {
    position: relative;
    max-width: 418px;
    padding: 16px;
  }

  &__avatar-decor-elem {
    position: absolute;
    width: 100px;
    height: 100px;
   
    &--top-left {
      top: 0;
      left: 0;
      border-top: 1px solid $primaryMain;
      border-left: 1px solid $primaryMain;
    }

    &--top-right {
      top: 0;
      right: 0;
      border-top: 1px solid $primaryMain;
      border-right: 1px solid $primaryMain;
    }

    &--bottom-right {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid $primaryMain;
      border-right: 1px solid $primaryMain;
    }

    &--bottom-left {
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $primaryMain;
      border-left: 1px solid $primaryMain;
    }
  }

  &__avatar {
    height: 386px;
    width: 386px;
    border: 1px solid $primaryMain;
    

    @media screen and (max-width: $deviceSizeXMD) {
      height: 290px;
      width: 290px;
    }
  }

  &__data-block {
    width: 50%;
    padding-left: 70px;

    @media screen and (max-width: $deviceSizeXMD) {
      padding-right: 40px;
    }

    @media screen and (max-width: $deviceSizeSM) {
      padding: 40px 0 0;
    }
  }

  @media screen and (max-width: $deviceSizeSM) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}