.house {
    background-image: url("./../assets/images/house.png");
    width: 100%;
    height: 700px;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__
}
